# Python
__pycache__/
*.py[cod]
*.so
.venv/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Data
/logs/
/.checkpoints/
/datasets/
/benchmarks/
/.chromadb/

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
*.pptx
*.pptx
